html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Roboto Mono";
    cursor:crosshair;
    background-color: #fef9ef;
    display:flex;
    flex-direction: column;
}
em{
    font-style: italic;
    font-weight: 400;
}
#canvas {
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width:100vw;
    z-index: 1;
    pointer-events: none;
}
#canvas canvas{
    width: 100%;
    height: 100%;
}
.slide{
    scroll-snap-align: center;
    display:flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(0,0,0,0);
    width: 90vw;
    height: 90vh;
    margin: 5vh 5vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.slide video{
    width:100%;
    height:100%
}
.fractalBg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.title{
    position:absolute;
    left: 5%;
    top: 5%;
    color: #121212;
    font-size: 60pt;
    font-weight: 100;
    font-style: italic;
    z-index: 2;
}
.intro-text{
    position:absolute;
    right: 5%;
    bottom: 5%;
    margin-left: 5%;
    color: #121212;
    font-size: 24pt;
    font-weight: 400;
    z-index: 2;
}
.asciiBg{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.asciiText{
    font-family: "Roboto Slab";
    color:white;
    font-size: 15vh;
    font-style: italic;
    font-weight: 700;
    margin:0;
}
#title1{
    margin-left:3vw;
}
#title2{
    margin:5vh auto;
}
#title3{
    align-self:self-end;
    width:fit-content;
    margin:0 3vw 0 0;
}
.links{
    display: flex;
    flex-direction: row;
    margin-top: 3.5vh;
}
.links a{
    font-family: "Roboto Slab";
    cursor: pointer;
    color:white;
    font-size: 13.5vh;
    margin:auto;
    text-decoration: none;
    font-style: bold;
}
.tileBg{
    position:absolute;
    width:100%;
    height:40%;
    pointer-events: none;
}
.tileBg img{
    display:none;
}
.tileContent{
    position: static;
    width:100%;
    height:40%;
    display: flex;
    flex-direction: column;
}
.tileLogo{
    width: 400px;
    height: 400px;
    margin:auto;
}
.tileLogo img{
    display:none;
}
.tileLinks{
    display: flex;
    margin-bottom:2%;
}
.tileLink{
    margin:auto;
    font-weight: 100;
    font-size: 20pt;
    color: #e2f9fd;
    cursor: pointer;
}
.water{
    position:absolute;
    top:2.5%;
    width:100%;
    aspect-ratio: 1.6/1;
    pointer-events: none;
}
.introImgContainer{
    display: flex;
    flex-direction: column;
    margin:auto;
    height: 100%;
    width:100%;
}
.introImg{
    height: 50%;
    width:auto;
    padding: 2%;
    margin: auto;
}
#small{
    height: 20%;
}
.a3dDemo{
    width: 25rem;
    height: 25rem;
    margin:auto;
}
.a3dDemo img{
    display: none;
}
.curtain{
    color: #FDF0D5;
    height: 90%;
    width: 80%;
    margin: auto;
    text-align: center;
}
#big{
    height:fit-content;
    width: 100%;
    margin:0;
    scroll-snap-align: start;
}
.caustics{
    position:absolute;
    width:100%;
    height: 84%;
    bottom: 0;
}
.caustics img{
    display: none;
}

#half{
    width:50%;
}
#threeQuarter{
    width:75%;
}
#oneQuarter{
    width:25%
}
.logo{
    width: 13%;
    margin: 7rem auto;
    z-index: 2;
}
.logo img{
    width:100%;
}
.row{
    width:95%;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    margin:0 auto;
    padding:2.5%;
    z-index: 0;
}
#title{
    padding:0;
}
#title p{
    margin:auto;
}
.col{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:2.5%;
    z-index: 0;
    text-align: justify;
    font-weight: 300;
}
.col img{
    width: 100%;
}

#nav{
    height: 3rem;
    z-index: 2;
    margin-bottom: 18rem;

}
.navLink{
    margin:auto;
    font-weight: 100;
    font-size: 1.2rem;
    font-style: italic;
    cursor: pointer;
}
.navLink:hover{
    text-decoration: underline;
}
.navSep{
    width: 0.1rem;
    height: 100%;
    margin: auto;
    background-color: #121212;
}
#foot{
    border-top: #121212 2px solid;
}
#foot p{
    margin:auto;
}
.mouseoverWiggle{
    cursor: pointer;
}
.mouseoverWiggle img{
    visibility: hidden;
}