html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Roboto Mono";
    cursor:crosshair;
    background-color: #fef9ef;
}
#canvas {
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
.slide{
    scroll-snap-align: center;
    display:flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
    width: 90vw;
    height: 90vh;
    margin: 5vh 5vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.fractalBg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.title{
    position:absolute;
    left: 5%;
    top: 5%;
    color: #121212;
    font-size: 60pt;
    font-weight: 100;
    font-style: italic;
    z-index: 2;
}
.intro-text{
    position:absolute;
    right: 5%;
    bottom: 5%;
    margin-left: 5%;
    color: #121212;
    font-size: 24pt;
    font-weight: 400;
    z-index: 2;
}
.asciiBg{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.asciiText{
    font-family: "Roboto Slab";
    color:white;
    font-size: 15vh;
    font-style: italic;
    font-weight: 700;
    margin:0;
}
#title1{
    margin-left:3vw;
}
#title2{
    margin:5vh auto;
}
#title3{
    align-self:self-end;
    width:fit-content;
    margin:0 3vw 0 0;
}
.links{
    display: flex;
    flex-direction: row;
    margin-top: 3.5vh;
}
.links a{
    font-family: "Roboto Slab";
    cursor: pointer;
    color:white;
    font-size: 13.5vh;
    margin:auto;
    text-decoration: none;
    font-style: bold;
}
.tileBg{
    position:absolute;
    width:100%;
    height:40%;
}
.tileBg img{
    display:none;
}
.tileContent{
    position:absolute;
    width:100%;
    height:40%;
    display: flex;
    flex-direction: column;
}
.tileContent{
    display: flex;
}
.water{
    position: absolute;
    width:100%;
    height:40%;
}
